$primary-color: #518C58;

// color
$primary-color-light-1:#DAE5DB;

$primary-color-dark:#83aa87;



// btn color
$button-background-color-primary: #b5cbb7;

// background color
$background-color-secondary:#f5f5f5;


// padding/margin size
$buffer-xs: 4px;
$buffer-s: 8px;
$buffer-m: 16px;
$buffer-lg: 24px;
$buffer-xl: 32px;


// font-weight
$font-weight-lighter: 200px;
$font-weight-light: 300px;
$font-weight-normal: 400px;
$font-weight-bold: 500px;
$font-weight-bolder: 600px;
$font-weight-boldest: 700px;


// font-family
$font-family-primary: "Open Sans", "sans serif";
$font-family-secondary: 'Comfortaa';


// font-size
$font-size-xs:12px;
$font-size-s:14px;
$font-size-m:16px;

// font-size heading
$font-size-heading-1: 92px;
$font-size-heading-2: 58px;
$font-size-heading-3: 43px;
$font-size-heading-4: 33px;
$font-size-heading-5: 23px;
$font-size-heading-6: 19px;

// font color primary
$font-color-default: rgba(0,0,0,0.87);
$font-color-medium: rgba(0,0,0,0.6);
$font-color-primary: #2c7a3a;

// alert colors
$warning-alert-color: #F5A623;
$error-alert-color: #B00020;

// letter-spacing
$letter-spacing-xxxxxs:-1.5px;
$letter-spacing-xxxxs:-1.25px;
$letter-spacing-xxxs:-1px;
$letter-spacing-xxs:-0.75px;
$letter-spacing-xs:-0.5px;
$letter-spacing-s:-0.25px;
$letter-spacing-m:0;
$letter-spacing-lg:0.25px;
$letter-spacing-xl:0.5px;
$letter-spacing-xxl:0.75px;
$letter-spacing-xxxl:1px;
$letter-spacing-xxxxl:1.25px;
$letter-spacing-xxxxxl:1.5px;
$letter-spacing-xxxxxxl:1.75px;
$letter-spacing-xxxxxxxl:2px;





